In [4]:
import pandas as pd
import matplotlib as mp
import duckdb

In [5]:
from nba_api.stats.endpoints import leagueleaders
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.static import players
from nba_api.stats.endpoints import leaguedashplayerstats
from nba_api.stats.endpoints import boxscoreadvancedv2

In [6]:
# Essayons de recuperer les statistiques avanceees d'un joueur sur les dernieres annees

In [7]:
#AD normal split

career = playercareerstats.PlayerCareerStats(player_id="203076")
df = career.get_data_frames()[0]
df

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927
10,203076,2022-23,00,1610612747,LAL,30.0,56,54,1905.0,542,...,0.784,195,507,702,148,59,114,122,146,1451
11,203076,2023-24,00,1610612747,LAL,30.0,48,48,1725.0,453,...,0.809,151,437,588,186,54,115,100,118,1185

In [16]:
#AD advanced split
AD = leaguedashplayerstats.LeagueDashPlayerStats(80, measure_type_detailed_defense='Advanced')
df = AD.get_data_frames()[0]
df

,PLAYER_ID,PLAYER_NAME,NICKNAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,...,E_USG_PCT_RANK,E_PACE_RANK,PACE_RANK,sp_work_PACE_RANK,PIE_RANK,FGM_RANK,FGA_RANK,FGM_PG_RANK,FGA_PG_RANK,FG_PCT_RANK
0,1630639,A.J. Lawson,A.J.,1610612742,DAL,23.0,23,11,12,0.478,...,247,38,41,41,340,347,347,338,349,221
1,1631260,AJ Green,AJ,1610612749,MIL,24.0,31,22,9,0.710,...,347,319,166,166,388,352,341,397,390,371
2,1631100,AJ Griffin,AJ,1610612737,ATL,20.0,18,8,10,0.444,...,299,27,35,35,503,420,394,459,405,495
3,203932,Aaron Gordon,Aaron,1610612743,DEN,28.0,45,30,15,0.667,...,261,455,492,492,202,83,115,95,126,80
4,1628988,Aaron Holiday,Aaron,1610612745,HOU,27.0,47,22,25,0.468,...,346,201,199,199,299,227,225,273,266,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
530,1628380,Zach Collins,Zach,1610612759,SAS,26.0,38,7,31,0.184,...,136,93,165,165,261,146,147,126,131,196
531,203897,Zach LaVine,Zach,1610612741,CHI,28.0,25,10,15,0.400,...,79,445,490,490,139,153,144,63,53,280
532,1630192,Zeke Nnaji,Zeke,1610612743,DEN,23.0,37,26,11,0.703,...,284,464,410,410,453,336,333,399,409,265
533,1630533,Ziaire Williams,Ziaire,1610612763,MEM,22.0,44,18,26,0.409,...,167,254,288,288,351,214,180,239,195,430
534,1629627,Zion Williamson,Zion,1610612740,NOP,23.0,40,23,17,0.575,...,37,178,197,197,44,35,66,21,58,52

In [9]:
column_names = df.columns.tolist()
print("Column Names:", column_names)

Column Names: ['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS']

In [ ]:
## 1st task : find how to create/import a full table with advanced statistics for a Single Player "Luka Doncic"